@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Trang chủ";
}

@section css{
    <style>
        a.link-more-items{
        color:#039445
        }

        a.link-more-items:hover{
        color:#fbc25b
        }
    </style>
}

@section scripts{
<script src="~/Scripts/webjs/jquery.vide.min.js"></script>
}

<div class="banner-wrapper">
    @*<div class="banner-images"></div>*@
  
        <div id="mainBanner" class="carousel slide" data-ride="carousel">
            
            <!-- Indicators -->
           
            <ol class="carousel-indicators">
                @for (int i = 0; i < ViewBag.Banner.Count; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#mainBanner" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#mainBanner" data-slide-to="@i"></li>
                    }
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < ViewBag.Banner.Count; i++)
                {
                    if (i == 0)
                    {
                        <div class="item active">
                            <a> <img src="@ViewBag.Banner[i].ImagePath" alt="@ViewBag.Banner[i].Name"></a>
                            <div class="carousel-caption">
                                <h1>The Bakery Store</h1>
                                <h3>The Best Choice For You</h3>
                            </div>
                        </div>
                    
                    }
                    else
                    {
                        <div class="item">
                            <a> <img src="@ViewBag.Banner[i].ImagePath" alt="@ViewBag.Banner[i].Name"></a>
                            <div class="carousel-caption">
                                <h1>The Bakery Store</h1>
                                <h3>The Best Choice For You</h3>
                            </div>
                        </div>
                    }
                }
            </div>

        </div><!-- /.carousel -->
    </div>

<!-- Carousel
  ================================================== -->



<!-- special offer -->
<div class="content-top ">
    <div class="container ">
        <div class="spec ">
            <h3>Special Offers</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="tab-head ">
            <nav class="nav-sidebar">
                <ul class="nav tabs ">
                    <li class="active"><a href="#tab1" data-toggle="tab">Bakery</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">Kitchen Tools</a></li>
                </ul>
            </nav>
            <div class=" tab-content tab-content-t ">
                <div class="tab-pane active text-style" id="tab1">
                    <div class=" con-w3l">
                        @Html.Partial("ListProduct", (IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>)ViewBag.ListBakeryProducts)
                        <div class="clearfix"></div>
                        <div class="row">
                            @Html.ActionLink("more...", "GetProductByCategory", "Product", new { id = 8 }, new { @class = "pull-right link-more-items" })
                        </div>
                    </div>
                </div>
                <div class="tab-pane  text-style" id="tab2">
                    <div class=" con-w3l">
                        @Html.Partial("ListProduct", (IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>)ViewBag.ListKitChenTools)
                        <div class="clearfix"></div>
                        <div class="row">
                            @Html.ActionLink("more...", "GetProductByCategory", "Product", new { id = 9 }, new { @class = "pull-right link-more-items" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--content-->
<div class="content-mid">
    <div class="container">

        <div class="col-md-4 m-w3ls">
            <div class="col-md1 ">
                <a>
                    <img src="~/Content/Images/Banners/cakes-collection.png" class="img-responsive img" alt="">
                    <div class="big-sa">
                        <h6>New Collections</h6>
                        <h3>Season<span>ing </span></h3>
                        <p>There are many variations of cakes for this season </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls1">
            <div class="col-md ">
                <a>
                    <img src="~/Content/Images/Banners/big-sale.png" class="img-responsive img" alt="">
                    <div class="big-sale">
                        <div class="big-sale1">
                            <h3>Big <span>Sale</span></h3>
                            <p>Big sale for this week</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls">
            <div class="col-md2 ">
                <a>
                    <img src="~/Content/Images/Banners/gift-banner.png" class="img-responsive img1" alt="">
                    <div class="big-sale2">
                        <h3>Special <span>Gilf</span></h3>
                        <p>We have specials gilfs for customers </p>
                    </div>
                </a>
            </div>
            <div class="col-md3 ">
                <a>
                    <img src="~/Content/Images/Banners/shipping-banner.png" class="img-responsive img1" alt="">
                    <div class="big-sale3">
                        <h3>Free <span>Shipping</span></h3>
                        <p>Free shipping in city</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--content-->
<!-- Carousel
  ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a> <img  style="height:300px;width:100%;" class="first-slide" src="~/Content/Images/Banners/sub-banner1.png" alt="sweet cake"></a>
            <div class="carousel-caption">
                <h1>The Bakery Store</h1>
                <h3>The taste of life</h3>
            </div>
        </div>
        <div class="item">
            <a> <img style="height:300px;width:100%;" class="second-slide " src="~/Content/Images/Banners/sub-banner2.png" alt="sweet cake"></a>
            <div class="carousel-caption">
                <h1>The Bakery Store</h1>
                <h3>Bring the happiness to your life</h3>
            </div>
        </div>
        <div class="item">
            <a><img style="height:300px;width:100%;" class="third-slide " src="~/Content/Images/Banners/sub-banner3.png" alt="sweet cake"></a>
            <div class="carousel-caption">
                <h1>The Bakery Store</h1>
                <h3>Pleased to be your friend</h3>
            </div>
        </div>
    </div>

</div><!-- /.carousel -->
<!--content-->
<div class="product">
    @Html.Partial("_GroupProductsPartial", (IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>)ViewBag.NewProductList, new ViewDataDictionary { { "Title", "Special Offers" } })
</div>

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="~/Scripts/webjs/jquery.mycart.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: "hover",
            container: "body",
            placement: "auto right",
            template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
        });

        var goToCartIcon = function ($addTocartBtn) {
            var $cartIcon = $(".my-cart-icon");
            var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
            $addTocartBtn.prepend($image);
            var position = $cartIcon.position();
            $image.animate({
                top: position.top,
                left: position.left
            }, 500, "linear", function () {
                $image.remove();
            });
        }

        $('.my-cart-btn').myCart({
            currencySymbol: 'VND',
            classCartIcon: 'my-cart-icon',
            classCartBadge: 'my-cart-badge',
            affixCartIcon: true,
            checkoutCart: function (products) {
                console.log(products);
                window.location.replace("/Order/CheckOut");
            },
            clickOnAddToCart: function ($addTocart) {
                goToCartIcon($addTocart);
            },
            getDiscountPrice: function (products) {
                var total = 0;
                $.each(products, function () {
                    total += this.quantity * this.price;
                });
                return total * 1;
            }
        });
    });
</script>