<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bakery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Xavia Decor là của hàng kinh doanh các sản phẩm trang trí nội thất nhập khẩu và nội địa có chất lượng cao, hoạt động từ cuối năm 2015. Trong suổt thời gian hoạt động từ khi thành lập, Cửa hàng chúng tôi đã nỗ lực không ngừng để có sự tăng trưởng liên tục và thành tích kinh doanh ấn tượng. Đến nay, Xavia Décor đã thực sự trở thành nhà cung cấp các sản phẩm trang trí nội thất hàng đầu với các thương hiệu sản phẩm uy tính với người tiêu dùng.">
    <link rel="icon" type="image/ico" href="~/Content/Images/Banners/faviorIcon.jpg">
    
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/webCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/webcss/style.css" rel="stylesheet" />
    <!-- start-smoth-scrolling -->
    <script src="~/Scripts/webjs/move-top.js"></script>
    <script src="~/Scripts/webjs/easing.js"></script>
    <!-- start-smoth-scrolling -->
    <link href="~/Content/webcss/font-awesome.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    @RenderSection("css", required:false)
    @RenderSection("scripts", required: false)
</head>
<body id="index" class="index hide-left-column hide-right-column lang_en one-column">
    <div id="page">
        @Html.Action("_HeaderPartial", "Home")

        <div class="columns-container top-space-body">
            @RenderBody()
        </div>

        @RenderPage("_FooterPartial.cshtml")
    </div>
</body>
</html>

