@model IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>


@foreach (var product in @Model)
{
    <div class="col-md-3 pro-1 b-productItem" data-toggle="popover" title="@product.Name" data-content="@product.ShortDescription">
        <div class="col-m">
            <a href="/Product/ProductDetails?id=@product.Id" class="offer-img">
                <img src="@product.CoverImageUrl" class="img-responsive" alt="">
                @if (@product.IsNew)
                {
                    <div class="offer"><p><span>New</span></p></div>
                }
            </a>
            <div class="mid-1">
                <div class="item-name-productItem">
                    <h6><a title="@product.Name" href="/Product/ProductDetails?id=@product.Id">@product.Name</a></h6>
                </div>
                <div class="mid-2">
                    <div class="item-price-productItem">
                        @product.PriceFormatCurrency
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="add">
                    <button class="btn btn-danger my-cart-btn my-cart-b " data-id="@product.Id" data-name="@product.Name" data-summary="@product.ShortDescription" data-price="@product.Price" data-quantity="1" data-image="@product.CoverImageUrl">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
}
