@model OnlineStore.Model.ViewModel.ProductDetailsView
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/DisplayProduct/DetailProduct.js"></script>
<link href="~/Content/display-product/detail-product.css" rel="stylesheet" />
<script src="~/Scripts/webjs/jquery.zoomtoo.js"></script>
<script>
    $(function () {
        $("#picture-frame").zoomToo({
            magnify: 1
        });
    });
</script>


<script>
    $(document).ready(function () {
        DetailProductManagement.init();
    });
</script>

    <!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Product Details</h3>
        <h4><a href="/Home">Home</a><label>/</label>Product Details</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="single">
    <div class="container">
        <div class="single-top-main">
            <div class="col-md-5 single-top">
                <div class="single-w3agile">
                    <div id="picture-frame">
                        <img src="@Model.CoverImageUrl.largeImagePath" data-src="@Model.CoverImageUrl.largeImagePath" alt="" class="img-responsive" />
                    </div>
                </div>
                <div id="thumbs_list">
                    <ul id="thumbs_list_frame">
                        @foreach (var item in Model.share_Images)
                        {
                            <li id="thumbnail_120" data-imagepath='@item.largeImagePath'>
                                <a href="javascript:void(0);" title='@Model.Name'>
                                    <img class="img-responsive" id="thumb_120" data-zoom-image='@item.largeImagePath' src='@item.smallImagePath' alt='@Model.Name' title='@Model.Name' height="80" width="80" itemprop="image">
                                </a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <div class="col-md-7 single-top-left ">
                <div class="single-right">
                    <h3>@Model.Name</h3>
                    <div class="pr-single">
                        <p class="reduced ">@Model.PriceFormatCurrency</p>
                    </div>
                    <div class="block block-w3">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <p class="in-pa"> @Model.Description</p>
                    <ul class="social-top">
                        <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                    </ul>
                    <div class="add add-3">
                        <button class="btn btn-danger my-cart-btn my-cart-b" data-id="@Model.Id" data-name="@Model.Name" data-summary="@Model.Description" data-price="@Model.Price" data-quantity="1" data-image="@Model.CoverImageUrl">Add to Cart</button>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!---->
<div class="content-top offer-w3agile">
    @Html.Partial("_GroupProductsPartial", (IEnumerable<OnlineStore.Model.ViewModel.ProductSummaryView>)ViewBag.NewProductList, new ViewDataDictionary { { "Title", "Special Offers" } })
</div>

    <!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script src="~/Scripts/webjs/jquery.mycart.js"></script>
<script type="text/javascript">
    $(function () {

        var goToCartIcon = function ($addTocartBtn) {
            var $cartIcon = $(".my-cart-icon");
            var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
            $addTocartBtn.prepend($image);
            var position = $cartIcon.position();
            $image.animate({
                top: position.top,
                left: position.left
            }, 500, "linear", function () {
                $image.remove();
            });
        }

        $('.my-cart-btn').myCart({
            classCartIcon: 'my-cart-icon',
            classCartBadge: 'my-cart-badge',
            affixCartIcon: true,
            checkoutCart: function (products) {
                console.log(products);
                window.location.replace("/Order/CheckOut");
            },
            clickOnAddToCart: function ($addTocart) {
                goToCartIcon($addTocart);
            },
            getDiscountPrice: function (products) {
                var total = 0;
                $.each(products, function () {
                    total += this.quantity * this.price;
                });
                return total * 1;
            }
        });

    });
</script>